# Server Configuration
NODE_ENV=development
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/dtchcxdb

# JWT Configuration
SECRET_JWT_SEED=unbesoyunaflor # Cambia esta clave secreta en producción por una más segura y única

# CORS Configuration - Permite todos los orígenes para desarrollo
CORS_ORIGIN=*